Repository maironald/demo-rental-house: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, rubocop

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

feat/factory-bot-with-db-seeds
  Gemfile
  Gemfile.lock
  app/controllers/services_controller.rb
  app/controllers/users/dashboard_controller.rb
  db/seeds/02_users.seeds.rb
  db/seeds/03_rooms.seeds.rb
  db/seeds/04_service.seeds.rb
  db/seeds/04_services.seeds.rb
  db/seeds/05_user_setting.seeds.rb
  knowlege.md
  spec/factories/invoices.rb
  spec/factories/renters.rb
  spec/factories/roles.rb
  spec/factories/rooms.rb
  spec/factories/services.rb
  spec/factories/settings.rb
  spec/factories/users.rb
Due: rubocop

chore: disable style bem
  .env.example
  .stylelintrc.cjs
Due: none

feat: Add docker
  Dockerfile.app
  Dockerfile.nginx
  docker-compose.yml
  docker/entrypoint.sh
  docker/nginx.conf
Due: none

fix: restructure authentication
  app/controllers/application_controller.rb
  app/controllers/authentication/omniauth_callbacks_controller.rb
  app/controllers/authentication/sessions_controller.rb
  app/controllers/manager/base_controller.rb
  app/controllers/manager/rooms_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users/unlocks_controller.rb
  app/services/application_service.rb
  app/services/manager/rooms/get_list_rooms_service.rb
  config/routes.rb
  yarn.lock
Due: rubocop

fix: turbo with modal
  app/controllers/services_controller.rb
  app/views/services/_service_row.html.erb
  app/views/services/_table.html.erb
Due: rubocop

fix:UI dashboard
  app/controllers/rooms_controller.rb
  app/frontend/controllers/chart/column_chart_controller.js
  app/frontend/controllers/chart/info_chart_controller.js
  app/frontend/stylesheets/base.scss
  app/frontend/stylesheets/components/navigation.scss
  app/helpers/application_helper.rb
  app/models/room.rb
  app/views/admins/dashboard/_table.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/invoices/_table.html.erb
  app/views/invoices/index.html.erb
  app/views/notifications/_table.html.erb
  app/views/renters/_table.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/_table.html.erb
  app/views/services/_table.html.erb
  app/views/users/dashboard/_chart.html.erb
  app/views/users/dashboard/_stat_info.html.erb
  app/views/users/dashboard/_table.html.erb
  package.json
  yarn.lock
Due: eslint, prettier, rubocop

fix: turbo action
  .tool-versions
  app/controllers/electric_waters_controller.rb
  app/controllers/invoices_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/services_controller.rb
  app/controllers/settings_controller.rb
  app/frontend/entrypoints/application.js
  app/views/admins/dashboard/_table.html.erb
  app/views/electric_waters/_card_detail.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/invoices/_table.html.erb
  app/views/layouts/application.html.erb
  app/views/notifications/_table.html.erb
  app/views/renters/_list_renters.html.erb
  app/views/renters/_table.html.erb
  app/views/rooms/_card.html.erb
  app/views/rooms/_table.html.erb
  app/views/services/_form.html.erb
  app/views/services/_service.html.erb
  app/views/services/_table.html.erb
  app/views/services/edit.turbo_stream.erb
  app/views/services/index.html.erb
  app/views/shared/_modal.html.erb
  app/views/users/_avatar.html.erb
  app/views/users/_notification.html.erb
  config/cable.yml
  coverage/index.html
  package.json
  yarn.lock
Due: eslint, prettier, rubocop

fix form submission: rooms, invoice, renter, service, setting
  app/controllers/invoices_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/services_controller.rb
  app/controllers/settings_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/frontend/images/icons/danger.svg
  app/frontend/images/icons/notice.svg
  app/frontend/images/icons/success.svg
  app/helpers/flowbite_helper.rb
  app/models/invoice.rb
  app/models/room.rb
  app/models/setting.rb
  app/views/devise/registrations/new.html.erb
  app/views/invoices/_invoice_room.html.erb
  app/views/invoices/_table.html.erb
  app/views/layouts/application.html.erb
  app/views/renters/_table.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/_table.html.erb
  app/views/services/_service.html.erb
  app/views/services/_table.html.erb
  app/views/settings/_form.html.erb
  app/views/shared/_flash.html.erb
  config/locales/simple_form.en.yml
Due: rubocop

fix: all form submission in user
  app/controllers/electric_waters_controller.rb
  app/controllers/pages_controller.rb
  app/frontend/images/icons/tick_icon.svg
  app/frontend/images/room/room_amount.jpg
  app/models/room.rb
  app/views/electric_waters/_card_detail.html.erb
  app/views/electric_waters/_form.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/invoices/_table.html.erb
  app/views/pages/_form_information.html.erb
Due: rubocop

fix: error in flash
  app/views/shared/_flash.html.erb
Due: none

fix: alert in flash
  app/views/electric_waters/_card_detail.html.erb
  app/views/shared/_flash.html.erb
Due: none

fix: move dashboard logic to service
  .rubocop.yml
  app/controllers/manager/dashboard_controller.rb
  app/controllers/rooms_controller.rb
  app/frontend/entrypoints/application.js
  app/models/invoice.rb
  app/models/room.rb
  app/models/user.rb
  app/services/manager/dashboard/prepare_data_for_charts_service.rb
  app/services/manager/dashboard/prepare_data_for_dashboard_service.rb
  app/services/manager/dashboard/prepare_data_for_tables_service.rb
  app/services/manager/rooms/get_list_rooms_service.rb
  spec/models/room_spec.rb
Due: eslint, prettier, rubocop

fix: UI dahboard, profile, list-renters, table, menu-button
  app/controllers/profiles_controller.rb
  app/controllers/renters_controller.rb
  app/views/admins/dashboard/_table.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/invoices/_invoice_room.html.erb
  app/views/invoices/_table.html.erb
  app/views/notifications/_table.html.erb
  app/views/profiles/_form_information.html.erb
  app/views/renters/_form.html.erb
  app/views/renters/_info.html.erb
  app/views/renters/_list_renters.html.erb
  app/views/renters/_table.html.erb
  app/views/services/_table.html.erb
  app/views/shared/_menu_button.html.erb
  app/views/users/_avatar.html.erb
  app/views/users/dashboard/_chart.html.erb
  app/views/users/dashboard/_table.html.erb
  app/views/users/dashboard/index.html.erb
Due: rubocop

fix: refactor rooms controller
  app/controllers/concerns/turbo_renderable.rb
  app/controllers/manager/rooms_controller.rb
  app/models/room.rb
  app/services/manager/rooms/get_list_rooms_service.rb
  app/views/layouts/application.html.erb
  app/views/manager/rooms/_form.html.erb
  app/views/manager/rooms/_room.html.erb
  app/views/manager/rooms/_table.html.erb
  app/views/manager/rooms/edit.turbo_stream.erb
  app/views/manager/rooms/index.html.erb
  app/views/manager/rooms/new.turbo_stream.erb
  config/routes.rb
Due: rubocop

fix: update rooms
  app/controllers/application_controller.rb
  app/controllers/concerns/turbo_renderable.rb
  app/controllers/manager/base_controller.rb
  app/controllers/manager/rooms_controller.rb
  app/controllers/rooms_controller.rb
  app/models/room.rb
  app/views/manager/rooms/_form.html.erb
  app/views/manager/rooms/_room.html.erb
  app/views/manager/rooms/_table.html.erb
  app/views/manager/rooms/edit.turbo_stream.erb
  app/views/manager/rooms/index.html.erb
  app/views/manager/rooms/new.turbo_stream.erb
  app/views/rooms/_card.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/_table.html.erb
  app/views/rooms/edit.turbo_stream.erb
  app/views/rooms/index.html.erb
  app/views/rooms/new.turbo_stream.erb
  config/routes.rb
Due: rubocop

fix: update ui
  app/controllers/concerns/turbo_renderable.rb
  app/controllers/manager/rooms_controller.rb
  app/services/manager/rooms/get_list_rooms_service.rb
  app/views/layouts/application.html.erb
  app/views/layouts/manager.html.erb
  app/views/manager/rooms/_room.html.erb
  app/views/manager/rooms/index.html.erb
  config/routes.rb
Due: rubocop

fix:turbo_renderable
  app/controllers/application_controller.rb
  app/controllers/authentication/omniauth_callbacks_controller.rb
  app/controllers/authentication/sessions_controller.rb
  app/controllers/concerns/turbo_renderable.rb
  config/routes.rb
Due: rubocop

chore: update turbo renderable
  app/controllers/concerns/turbo_renderable.rb
  app/controllers/manager/rooms_controller.rb
Due: rubocop

fix: unique room
  app/models/room.rb
  app/views/rooms/_table.html.erb
  coverage/.resultset.json
  coverage/index.html
  db/migrate/20240227071939_add_unique_index_to_rooms_name.rb
  db/schema.rb
  spec/factories/rooms.rb
  spec/models/room_spec.rb
Due: rubocop

fix: data-seed
  app/controllers/invoices_controller.rb
  app/models/invoice.rb
  app/models/user.rb
  coverage/.resultset.json
  coverage/index.html
  db/seeds/01_admin.seeds.rb
  db/seeds/02_users.seeds.rb
  db/seeds/03_rooms.seeds.rb
  db/seeds/04_renters.seeds.rb
  db/seeds/04_services.seeds.rb
  db/seeds/05_services.seeds.rb
  db/seeds/05_user_setting.seeds.rb
  db/seeds/06_invoices.seeds.rb
  spec/factories/invoices.rb
  spec/factories/rooms.rb
Due: rubocop

fix: data-seed in user, admin and create invoice service
  app/controllers/application_controller.rb
  app/controllers/electric_waters_controller.rb
  app/controllers/invoices_controller.rb
  app/controllers/profiles_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/services_controller.rb
  app/controllers/settings_controller.rb
  app/models/invoice.rb
  app/models/user.rb
  app/services/invoices/get_total_price_service.rb
  app/views/invoices/_form.html.erb
  app/views/invoices/_invoice_room.html.erb
  app/views/invoices/new.turbo_stream.erb
  app/views/rooms/_card.html.erb
  app/views/rooms/_table.html.erb
  coverage/.resultset.json
  coverage/index.html
  db/seeds/01_admin.seeds.rb
  db/seeds/02_users.seeds.rb
  db/seeds/03_rooms.seeds.rb
  db/seeds/04_renters.seeds.rb
  db/seeds/05_services.seeds.rb
  db/seeds/06_invoices.seeds.rb
  spec/factories/invoices.rb
  spec/factories/rooms.rb
  spec/factories/services.rb
  spec/factories/settings.rb
Due: rubocop

fix: pr with destroy render
  .vscode/settings.json
  app/controllers/invoices_controller.rb
  app/controllers/notifications_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/services_controller.rb
  app/models/user.rb
  app/views/admin/dashboard/_form_change_password.html.erb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  knowlege.md
  spec/controllers/services_controller_spec.rb
  spec/models/user_spec.rb
Due: rubocop

fix: data-seed, services
  .env.example
  app/controllers/invoices_controller.rb
  app/controllers/profiles_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/settings_controller.rb
  app/services/invoices/get_list_invoices_service.rb
  app/services/renters/get_list_renters_service.rb
  app/services/rooms/get_info_rooms_service.rb
  app/views/invoices/_show_info_invoice.html.erb
  app/views/invoices/new.html.erb
  app/views/invoices/new.turbo_stream.erb
  app/views/profiles/_form_information.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/_show_info_room.html.erb
  app/views/rooms/_table.html.erb
  app/views/rooms/new.html.erb
  app/views/rooms/new.turbo_stream.erb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  spec/controllers/invoices_controller_spec.rb
  spec/controllers/rooms_controller_spec.rb
Due: rubocop

fix:UI-and-refator-method
  app/controllers/authentication/sessions_controller.rb
  app/controllers/base_controller.rb
  app/controllers/invoices_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/services_controller.rb
  app/controllers/settings_controller.rb
  app/frontend/controllers/chart/column_chart_controller.js
  app/views/layouts/application.html.erb
  app/views/notifications/index.html.erb
  app/views/rooms/_card.html.erb
  app/views/services/_form.html.erb
  app/views/settings/_form.html.erb
  app/views/users/dashboard/index.html.erb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/seeds/04_renters.seeds.rb
  spec/factories/renters.rb
Due: eslint, prettier, rubocop

fix: knowledge.md with rails g model type
  knowlege.md
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{js,ts,jsx,tsx}
  rubocop: any of: *.rb
