Repository maironald/demo-rental-house: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, rubocop

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,js,jsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn prettier --write {staged_files}
    rubocop:
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion {staged_files}

fixed: delete gem scss
  Gemfile
Due: none

fixed: scss, style inline
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/users/dashboard.scss
  app/views/renters/index.html.erb
  app/views/rooms/index.html.erb
  app/views/services/index.html.erb
Due: none

fix: scss(cont)
  app/views/renters/edit.html.erb
Due: none

format: scss file
  .vscode/settings.json
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/fa.scss
  app/assets/stylesheets/components/navbar.scss
  app/assets/stylesheets/components/navigation.scss
  app/assets/stylesheets/users/dashboard.scss
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/users/index.js
  app/javascript/controllers/users/navbar_controller.js
  app/javascript/entrypoints/application.js
  app/javascript/entrypoints/application.scss
  config/environments/production.rb
  package.json
  vite.config.js
  yarn.lock
Due: eslint, prettier, rubocop

feat/CRUD-relationship-between-renter-and-room
  app/assets/images/icons/glass.svg
  app/assets/stylesheets/buttons.scss
  app/assets/stylesheets/components/navbar.scss
  app/assets/stylesheets/components/navigation.scss
  app/assets/stylesheets/users/dashboard.scss
  app/controllers/rooms_controller.rb
  app/models/renter.rb
  app/models/room.rb
  app/views/layouts/application.html.erb
  app/views/renters/index.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/index.html.erb
  app/views/rooms/show_renters.html.erb
  app/views/services/index.html.erb
  app/views/users/_footer.html.erb
  app/views/users/_navigation.html.erb
  config/routes.rb
  db/migrate/20240115093746_change_price_room_to_decimal.rb
  db/schema.rb
  package.json
Due: rubocop

feat/CRUD invoices and fixed: service, rooms
  app/controllers/electric_waters_controller.rb
  app/controllers/invoices_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/services_controller.rb
  app/controllers/users/dashboard_controller.rb
  app/models/invoice.rb
  app/models/room.rb
  app/models/service.rb
  app/models/user.rb
  app/views/electric_waters/edit.html.erb
  app/views/electric_waters/show.html.erb
  app/views/invoices/_form.html.erb
  app/views/invoices/edit.html.erb
  app/views/invoices/index.html.erb
  app/views/invoices/new.html.erb
  app/views/invoices/show_all_invoices.html.erb
  app/views/renters/_form.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/index.html.erb
  app/views/rooms/show_all_services.html.erb
  app/views/rooms/show_renters.html.erb
  app/views/services/_form.html.erb
  app/views/services/index.html.erb
  app/views/users/_navigation.html.erb
  config/routes.rb
  db/migrate/20240116070015_add_column_references_user_in_service.rb
  db/migrate/20240116183233_change_column_eletric_water_default.rb
  db/migrate/20240117033208_add_column_price_of_water_electric_to_user.rb
  db/migrate/20240117052956_create_invoices.rb
  db/schema.rb
  spec/models/service_spec.rb
  spec/models/user_spec.rb
Due: rubocop

fixed: electric_water with user and invoice
  app/controllers/electric_waters_controller.rb
  app/controllers/invoices_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/users/dashboard_controller.rb
  app/models/room.rb
  app/models/room_service.rb
  app/models/service.rb
  app/models/setting.rb
  app/models/user.rb
  app/views/electric_waters/edit.html.erb
  app/views/electric_waters/show.html.erb
  app/views/invoices/_form.html.erb
  app/views/invoices/new.html.erb
  app/views/invoices/show_all_invoices.html.erb
  app/views/rooms/index.html.erb
  app/views/rooms/show_all_services.html.erb
  app/views/services/index.html.erb
  app/views/users/_navigation.html.erb
  config/routes.rb
  db/migrate/20240112100134_create_room_services.rb
  db/migrate/20240115093746_change_price_room_to_decimal.rb
  db/migrate/20240116070015_add_column_references_user_in_service.rb
  db/migrate/20240116183233_change_column_eletric_water_default.rb
  db/migrate/20240117033208_add_column_price_of_water_electric_to_user.rb
  db/migrate/20240118052054_create_settings.rb
  db/schema.rb
  db/seeds/03_rooms.seeds.rb
  db/seeds/04_renters.seeds.rb
  db/seeds/04_service.seeds.rb
  db/seeds/05_room_renters.seeds.rb
  db/seeds/05_user_setting.seeds.rb
  knowlege.md
  spec/models/room_service_spec.rb
  spec/models/setting_spec.rb
  spec/models/user_spec.rb
Due: rubocop

feat: CRUD about the member of renter
  app/controllers/invoices_controller.rb
  app/controllers/members_controller.rb
  app/javascript/controllers/clickable_controller.js
  app/models/member.rb
  app/models/renter.rb
  app/views/members/_form.html.erb
  app/views/members/edit.html.erb
  app/views/members/index.html.erb
  app/views/members/new.html.erb
  app/views/users/_navigation.html.erb
  config/routes.rb
  db/migrate/20240118085432_create_members.rb
  db/schema.rb
  spec/models/member_spec.rb
Due: eslint, prettier, rubocop

fix: eslint
  app/frontend/controllers/admins/dashboard_controller.js
  app/frontend/controllers/shared/flash_controller.js
  app/frontend/controllers/users/navbar_controller.js
  package.json
  yarn.lock
Due: eslint, prettier

fix: change image_tag to vite_image_tag
  app/models/user.rb
  app/views/devise/sessions/new.html.erb
  app/views/invoices/index.html.erb
  app/views/invoices/show_all_invoices.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/renters/index.html.erb
  app/views/rooms/index.html.erb
  app/views/services/index.html.erb
  app/views/shared/_flash.html.erb
  app/views/users/_footer.html.erb
  config/database.yml
  config/environments/production.rb
Due: rubocop

chore: refactor
  app/helpers/collections_helper.rb
  app/models/renter.rb
  app/models/user.rb
Due: rubocop

chore: add erb-lint
  .better-html.yml
  .erb-lint.yml
  .slim-lint.yml
  .vscode/extensions.json
  Gemfile
  Gemfile.lock
  app/views/layouts/_asidebar.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/members/_form.html.erb
  app/views/members/index.html.erb
  app/views/renters/_form.html.erb
  app/views/renters/edit.html.erb
  app/views/renters/index.html.erb
  app/views/renters/new.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/edit.html.erb
  app/views/rooms/index.html.erb
  app/views/rooms/new.html.erb
  app/views/rooms/show_renters.html.erb
  app/views/services/_form.html.erb
  app/views/services/edit.html.erb
  app/views/services/index.html.erb
  app/views/services/new.html.erb
  app/views/users/_footer.html.erb
  app/views/users/_navigation.html.erb
  app/views/users/_navigation.slim
  app/views/users/_topnav.html.erb
  app/views/users/dashboard/index.html.erb
  config/initializers/better_html.rb
Due: rubocop

Add erb-lint
  .better-html.yml
  .erb-lint.yml
  .slim-lint.yml
  Gemfile
  Gemfile.lock
  tailwind.config.js
Due: eslint, prettier

modal-pop-up-learning
  app/controllers/rooms_controller.rb
  app/frontend/controllers/modal_controller.js
  app/frontend/stylesheets/application.scss
  app/views/electric_waters/_table.html.erb
  app/views/layouts/application.html.erb
  app/views/renters/_table.html.erb
  app/views/renters/new.html.erb
  app/views/rooms/_card.html.erb
  app/views/rooms/_form.html.erb
  app/views/rooms/_table.html.erb
  app/views/rooms/edit.html.erb
  app/views/rooms/index.html.erb
  app/views/rooms/new.html.erb
  app/views/services/_table.html.erb
  app/views/shared/_modal.html.erb
  app/views/users/_pagination.html.erb
  knowlege.md
Due: eslint, prettier, rubocop

fixed/data-controller-with-single-quote-and-db-seed
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_flash.html.erb
  config/database.yml
  db/seeds/04_service.seeds.rb
  db/seeds/05_user_setting.seeds.rb
Due: rubocop

fix: BetterHtml undefine
  config/initializers/better_html.rb
Due: rubocop

set up realtime noti with action cable
  app/channels/application_cable/connection.rb
  app/channels/notifications_channel.rb
  app/controllers/notifications_controller.rb
  app/frontend/channels/consumer.js
  app/frontend/channels/index.js
  app/frontend/channels/notifications_channel.js
  app/frontend/entrypoints/application.js
  app/frontend/stylesheets/components/navigation.scss
  app/notifiers/notifications_notifier.rb
  app/views/admins/_navigation.html.erb
  app/views/notifications/_table.html.erb
  app/views/users/_notification.html.erb
  knowlege.md
  package.json
  spec/channels/notifications_channel_spec.rb
  yarn.lock
Due: eslint, prettier, rubocop

feat/statistic with apex chart and fix some searching to scope
  .rubocop_todo.yml
  .vscode/settings.json
  app/controllers/invoices_controller.rb
  app/controllers/renters_controller.rb
  app/controllers/rooms_controller.rb
  app/controllers/users/dashboard_controller.rb
  app/frontend/controllers/chart/column_chart_controller.js
  app/frontend/controllers/chart/index.js
  app/frontend/controllers/chart/info_chart_controller.js
  app/frontend/controllers/chart/pie_chart_controller.js
  app/frontend/entrypoints/application.js
  app/frontend/images/navigation/button_navigate.svg
  app/frontend/stylesheets/components/button.scss
  app/frontend/stylesheets/components/navbar.scss
  app/models/invoice.rb
  app/models/renter.rb
  app/models/room.rb
  app/views/admins/dashboard/_table.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/home/index.html.erb
  app/views/invoices/_table.html.erb
  app/views/invoices/index.html.erb
  app/views/layouts/application.html.erb
  app/views/notifications/_table.html.erb
  app/views/renters/_info.html.erb
  app/views/renters/_table.html.erb
  app/views/renters/show.html.erb
  app/views/rooms/_card.html.erb
  app/views/rooms/_table.html.erb
  app/views/services/_table.html.erb
  app/views/shared/_menu_button.html.erb
  app/views/users/_topnav.html.erb
  app/views/users/dashboard/_chart.html.erb
  app/views/users/dashboard/_table.html.erb
  app/views/users/dashboard/index.html.erb
  package.json
  yarn.lock
Due: eslint, prettier, rubocop

fix UI admin for notification dashboard
  app/controllers/notifications_controller.rb
  app/frontend/controllers/chart/column_chart_controller.js
  app/views/admins/dashboard/_table.html.erb
  app/views/invoices/_form.html.erb
  app/views/notifications/_form.html.erb
  app/views/notifications/_table.html.erb
  app/views/notifications/new.html.erb
  app/views/notifications/new.turbo_stream.erb
  app/views/users/dashboard/_chart.html.erb
  config/initializers/better_html.rb
Due: eslint, prettier, rubocop

fix/delete all console log
  app/frontend/controllers/chart/column_chart_controller.js
  app/frontend/controllers/chart/pie_chart_controller.js
  app/frontend/controllers/rooms/disable_input_controller.js
  app/frontend/controllers/select_controller.js
  config/initializers/better_html.rb
Due: eslint, prettier, rubocop

fix: format html css style
  .vscode/settings.json
  app/frontend/images/dashboard/btn-navigate.svg
  app/views/admins/_topnav.html.erb
  app/views/admins/dashboard/_table.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/home/index.html.erb
  app/views/invoices/_invoice_room.html.erb
  app/views/invoices/_table.html.erb
  app/views/invoices/index.html.erb
  app/views/notifications/_show_noti.html.erb
  app/views/renters/_info.html.erb
  app/views/renters/_list_renters.html.erb
  app/views/renters/_table.html.erb
  app/views/rooms/show.html.erb
  app/views/services/_table.html.erb
  app/views/shared/_modal.html.erb
  app/views/shared/_search.html.erb
  app/views/users/_notification.html.erb
  app/views/users/dashboard/_chart.html.erb
Due: none

user-profile-with-cloudinary-and-fix-some-errors-about-statisticals
  .env
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/controllers/users/dashboard_controller.rb
  app/frontend/images/dashboard/avatar-PhotoRoom.png-PhotoRoom.png
  app/frontend/images/dashboard/avatar.jpg
  app/frontend/images/dashboard/user_profile.svg
  app/frontend/stylesheets/reset.scss
  app/frontend/stylesheets/users/dashboard.scss
  app/models/user.rb
  app/uploaders/avatar_uploader.rb
  app/views/notifications/_table.html.erb
  app/views/pages/_form_information.html.erb
  app/views/pages/edit_information.turbo_stream.erb
  app/views/users/_avatar.html.erb
  app/views/users/dashboard/_chart.html.erb
  config.ru
  config/application.rb
  config/cloudinary.yml
  config/environments/development.rb
  config/environments/production.rb
  config/routes.rb
  config/storage.yml
  knowlege.md
Due: rubocop

fix: hide env file
  .gitignore
Due: none

fix-env-file,column-name,redis-url
  .env
  config/cable.yml
  db/migrate/20240108161321_create_rooms.rb
Due: rubocop

fix, end database url
  config/database.yml
Due: none

fix: url in cloudinary
  app/views/pages/_form_information.html.erb
Due: none

fix: bugs when create setting, column chart, upload cloudinary
  app/frontend/controllers/chart/column_chart_controller.js
  app/frontend/controllers/select_controller.js
  app/models/user.rb
  app/views/pages/_form_information.html.erb
  config.ru
  config/environments/development.rb
Due: eslint, prettier, rubocop

fix: rename column name avatar_url
  app/controllers/pages_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/views/pages/_form_information.html.erb
  app/views/users/_avatar.html.erb
  config/cable.yml
  db/migrate/20240206042202_change_column_avatar_url_name.rb
  db/schema.rb
  spec/models/user_spec.rb
Due: rubocop

fix:migration column avatar-name
  db/migrate/20240206042202_change_column_avatar_url_name.rb
Due: rubocop

fix:file migration all database
  app/models/room.rb
  app/models/user.rb
  config/database.yml
  db/migrate/20240105030036_add_name_address_phonenumber_to_users.rb
  db/migrate/20240108024127_add_provider_fullname_uid_avatarurl_to_user.rb
  db/migrate/20240109153824_change_references_in_room_by_renterid.rb
  db/migrate/20240122182500_change_deposit_to_decimal.rb
  db/schema.rb
Due: rubocop

fix: README with project structure, sentry, UI responsive
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  README.md
  app/frontend/controllers/chart/info_chart_controller.js
  app/views/admins/dashboard/_table.html.erb
  app/views/electric_waters/_table.html.erb
  app/views/invoices/_table.html.erb
  app/views/notifications/_table.html.erb
  app/views/renters/_table.html.erb
  app/views/services/_table.html.erb
  app/views/users/dashboard/_chart.html.erb
  app/views/users/dashboard/_table.html.erb
  config/initializers/sentry.rb
  db/seeds/03_rooms.seeds.rb
  db/seeds/04_service.seeds.rb
  db/seeds/05_user_setting.seeds.rb
  db/seeds/06_renters.seeds.rb
Due: eslint, prettier, rubocop
